<header class="containerLinks">
  <nav>

    <ul>

      <li>
        <a
        [routerLink]="['']"
        [routerLinkActive]="['activated']"
        [routerLinkActiveOptions]="{exact: true}">
          HOME
        </a>
      </li>

      <li>
        <a
        [routerLink]="['cadastro']"
        [routerLinkActive]="['activated']"
        [routerLinkActiveOptions]="{exact: true}">
          CADASTRO
        </a>
      </li>

      <li>
        <a
        [routerLink]="['sorteio']"
        [routerLinkActive]="['activated']"
        [routerLinkActiveOptions]="{exact: true}">
          SORTEIO
        </a>
      </li>

    </ul>
  </nav>
</header>
