<div class="containerPessoas">
  <div class="search-div">
    <span>Nome</span>
    <app-search-bar></app-search-bar>
  </div>
  <div class="separation">
    <hr>
  </div>
  <ul>
    <app-pessoas
                nome="Pessoa1"
                email="emailpessoa1@gmail.com"
    ></app-pessoas>
    <app-pessoas
                nome="Pessoa2"
                email="emailpessoa2@gmail.com"
    ></app-pessoas>
    <app-pessoas
                nome="Pessoa3"
                email="emailpessoa3@gmail.com"
    ></app-pessoas>
    <app-pessoas
                nome="Pessoa4"
                email="emailpessoa4@gmail.com"
    ></app-pessoas>
  </ul>
</div>
