.bigContainer{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  width: 85%;
  height: 100vh;
  justify-items: center;
  justify-content: center;
}

.container-card-pessoas-title{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-items: center;
}

*{background-color: white;}
